@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-loop {
  display: flex;
  width: max-content;
  animation: marquee 12s linear infinite;
}

.animate-marquee-loop:hover {
  animation-play-state: paused;
}